<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace= "/fragments/head :: head" </head>
    
    <body id="bodyPadding">

        <div class="container-fluid">
        
        <div>
            <nav th:replace= "/fragments/navbar :: nav" </nav>
        </div>
            
            <div id="background-image">   
                <div class="container-fluid" style="max-width: 75%">
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th>Id Noticia</th>
                                <th>Titulo</th>
                                <th>Fecha de Creacion</th>
                                <th colspan="3" class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <!-- Nuevamante voy a iterar la lista de autores para mostrarlos en la tabla -->
                        <tbody th:each="noticia : ${noticias}">
                            <tr>
                                <th scope="row" th:text="${noticia.id}"></th>
                                <td th:text="${noticia.titulo}"></td>
                                <td th:text="${noticia.fecha}"></td>
                                <td class="text-center">
                                    <!-- Estoy diciendole que este link me va a llevar a la vista "autor/modificar", pasandole a este metodo la variable id. Esto
                                    va al GetMapping autor/modificar-->
                                    <a th:href="@{/noticia/visualizar/__${noticia.id}__}"><i class="fas fa-feather-alt"></i>Ver Noticia</a>
                                </td>
                                <td class="text-center">
                                    <!-- Estoy diciendole que este link me va a llevar a la vista "autor/modificar", pasandole a este metodo la variable id. Esto
                                    va al GetMapping autor/modificar-->
                                    <a th:href="@{/noticia/modificar/__${noticia.id}__}"><i class="fas fa-feather-alt"></i>Modificar</a>
                                </td>
                                <td class="text-center">
                                    <!-- Estoy diciendole que este link me va a llevar a la vista "autor/eliminar", pasandole a este metodo la variable id. Esto
                                    va al PostMapping autor/modificar-->
                                    <a th:href="@{/noticia/eliminar/__${noticia.id}__}"><i class="fas fa-feather-alt"></i>Eliminar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-secondary"><a href="../">Volver</button>
                </div>
            </div>
        </div>
            <!-- uso un div con un tag de Thymeleaf, th:if. 
            Sintaxis: Recibe variables a traves del simbolo $, entre llaves {}. En este caso le mando la llave del modelo que cree en LibroControlador
            que se llama error. Si recibe el modelo error, no va a ser null, entonces ejecuta el parrafo.. -->
        <div th:if="${error} != null" class="card text-white bg-danger mb-3 mensajeError"> 
            <div class="card-body">
                <h5 class="card-title">Error</h5>
                <p class="card-text" th:text="${error}"></p>
                <!-- Para escribir en pantalla, uso el metodo de Thymeleaf th.text, y lo que le mando es la llave del metodo error -->
            </div>
        </div>


        <div th:if="${exito}!= null" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
            <div class="card-body">
                <h5 class="card-title">Exito!</h5>
                <p class="card-text" th:text="${exito}"></p>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-
        DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-
        ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>  
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>  

    </body>
    
    
</html>
