<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>FormAutor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
        crossorigin="anonymous">

    </head>
    <body>
        <header>
            <div class="container"> 
                <h2>Carga el Autor aqui!</h2>
            </div>
        </header>
        
        <div class="container">
            <!-- Se va a ejecutar la accion "submit" del boton a traves del metodo post, mediante la URL /autor/registro-->
            <form action="/autor/registro" method="POST"> 
                <div class="form-group">
                    <input name="nombre" type="text" class="form-group" placeholder="Nombre del Autor"> <!--El input envia datos encerrados en la caja, con el nombre que le ponga en name-->
                </div>
           
                <button type="submit" class="btn btn-primary"> Subir </button>
            </form>
        </div>
        

            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-
            DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-
            ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>    
    </body>
</html>
